
.footer{
    width: 100%;
    height: 25px;
    display: block;
    background-color: #fafafa;
    /*min-height: 25px;*/
    font-weight: bold;
    text-decoration: 0;
}
.inner-footer{
    width: 1000px;
    height: 100%;
    display: table;
    margin: 0 auto;
}
.inner-footer a{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    height: 100%;
    font-family: Arial;
    font-size: 15px;
    color: inherit;
}
.inner-footer u{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    height: 100%;
    width: fit-content;
    font-family: Arial;
    font-size: 15px;
}