div.product-in-ticket > *{
    display: inline;
    border: 1px solid black;
}

div.general-background{
    display: flex;
}
.grid-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 15px;;
    width: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 25px;
}
.grid-ticket{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 15px;;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 100px;
}


