div.general-title{
    background-color: #C4C4C4;
    display: flex;
    padding-top: 50px;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: none;
}
#back-button{
    background-color: #00A3FF;
    border: none;
    border-radius: 10px;;
    padding: auto;
    height: 40px;
    width: 100px;
    margin: 0px 20px 0px;
    color: white;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);;
}
#back-button:hover{
    box-shadow: 0 1px 10px rgb(0 0 0 / 1);;
}
.general-background img{
    width: 200px;
    height: 200px;
}

.general-background{
    background-color: #C4C4C4;
    min-height: 100vh; 
    padding: 20px;
    text-align: center;
}
.item-container img{
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);;
    margin: 5px;
}
.item-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    margin: 10px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);;
}
.product-name{
    margin: 10px;
}
.product-price{
    margin: 10px;
}
.button-container{
    margin: 10px;
}
.button-container button{
    margin: 10px;
    background-color: #00A3FF;
    border: none;
    border-radius: 10px;;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);;
    height: 40px;
    width: 120px;
}
.button-container button:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);;
}

#product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.save-button{
    margin: 10px;
    background-color: #ff7b00;
    border: none;
    border-radius: 10px;;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);;
    height: 40px;
    width: 220px;
}